body {
    margin: 0
}

ul {
    background-color: blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 20vh;
    font-size: 20px;
    padding: 0;
    margin: 0
}

ul li {
    list-style: none;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transition: background 400ms linear, color 400ms ease;
    transition: background 400ms linear, color 400ms ease
}

ul li a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%
}

ul li:hover {
    background: yellow
}

ul li:hover a {
    color: blue
}

.video-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 1.5rem
}

.video-box>* {
    min-width: 25%;
    max-width: 35%;
    border: 1px solid black;
    min-height: 350px
}

.video-box video {
    width: 100%
}

.video-box :not(video) {
    padding: 0.5rem
}